.container {
	margin: 0 auto;
	width: 960px;
}
body {
	font-family: "Lucida Sans Unicode", Verdana, sans-serif;
		line-height:1.6;
	background: #CC7766 url ('noise.png');
	background: #000000;
	color: #00FF00;
}
.total {
	float: left;
	width: 660px;
}
.lugar {
	border-color: #CCC #999 #999 #CCC;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 20px;
	padding: 10px;
	background: rgba(210,210,210,0.3);
}
.lugar h2 {
	border-bottom: 1px dashed #5C6818;
	margin: 0;
}
.lugar a {
	color: #2C11AF;
	font-wight: bold;
}
a {
	color: #2C88A7;
	text-decoration: none;
}
a:hover {
	color: white;
	background-color: black;
}
.lugar img {
	height: 200px;
	border: 1px solid black;
	float: left;
	margin: 10px 10px 0 0;
	padding: 2px;
}
.clear {
	clear: both;
}
.notas {
	background-color: rgba(210,210,210,0.3);
	padding: 10px;
	float: right;
	whidth: 260px;
}
.notas h3{
	font-size: 14px;
	margin-top: 0;
}
. notas ol{
	font-size: 12px;
}
.table, th, td {
        border: 1px solid;
	background-color: rgba(210,210,210,0.3);
}
iframe {
	display: block;
	border-style: none;
	margin: 0 auto;
}
footer {
	text-align: center;
	font-size: 12px;
	clear: both;
}
